
@font-face {
    font-family: "Krub";
    src: url(fonts/Krub-ExtraLight.ttf) format("truetype");
    font-weight: 100;
}

@font-face {
    font-family: "Krub";
    src: url(fonts/Krub-Light.ttf) format("truetype");
    font-weight: 200;
}

@font-face {
    font-family: "Krub";
    src: url(fonts/Krub-Regular.ttf) format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Krub";
    src: url(fonts/Krub-Medium.ttf) format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Krub";
    src: url(fonts/Krub-SemiBold.ttf) format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "Krub";
    src: url(fonts/Krub-Bold.ttf) format("truetype");
    font-weight: 700;
}